<div id="hero">
  <div class="container">
    <h1 class="hero-text animated fadeInDown">
      Try a 3d printer in the comfort<br/>of your own home
    </h1>
    <p class="sub-text animated fadeInDown">
      We ship you a 3d printer. Print as much as you like.<br/>Send it back when you're done.
    </p>
    <div class="cta animated fadeInDown">
      <%= link_to "Get Started", new_rental_path, class: "button" %>
      <%= link_to "How It Works", how_it_works_path, class: "button-outline" %>
    </div>
    <div class="img"></div>
  </div>
</div>

<div id="features">
  <div class="container">
    <div class="row header">
      <div class="col-md-12">
        <h2>No prior experience? No problem.</h2>
        <p>Rentabuild provides plastic filament, training videos, and personal support- everything you need to get started.</p>
      </div>
    </div>
    <div class="row feature">
      <div class="col-md-6 info">
        <h4>Bring a 3d printer into your home, workshop, or classroom.</h4>
        <p>
          Whether you have a project you need printed, want to introduce students
          to printing, or are just curious about new technology, renting is a
          great way to experience 3d printing without breaking the bank.
        </p>
      </div>
      <div class="col-md-6 image">
        <%= image_tag "feature_example.png", class: "img-responsive" %>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row feature backwards">
      <div class="col-md-6 info">
        <h4>High-quality printers.</h4>
        <p>
          Now renting the durable, dependable Ultimaker 2.
        </p>
      </div>
      <div class="col-md-6 image">
        <%= image_tag "feature_ultimaker.png", class: "img-responsive" %>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row feature">
      <div class="col-md-6 info">
        <h4>Print as much as you need.</h4>
        <p>
          Design is iterative. Refine your designs and print until it's perfect.
          There are no limitations on how much you can use the printer during
          your rental.
        </p>
      </div>
      <div class="col-md-6 image">
        <%= image_tag "feature_filament.png", class: "img-responsive" %>
      </div>
    </div>
  </div>    
</div>

<div id="pricing">
  <div class="container">
    <div class="row header">
      <div class="col-md-12">
        <h3>All rentals include everything you need to get started.</h3>
        <p>Shipping anywhere in the continental US.</p>
      </div>
    </div>
    <div class="row charts">
      <div class="col-md-4">
        <div class="chart first">
          <div class="quantity">
            <span class="dollar">$</span>
            <span class="price">150</span>
          </div>
          <div class="plan-name">One Week</div>
          <div class="specs">
            <div class="spec">
              <span class="variable">1/2 lb</span>
              plastic filament (PLA)
            </div>
            <div class="spec">
              <span class="variable">Training</span>
              videos and resources
            </div>
            <div class="spec">
              <span class="variable">Support</span>
              by email, chat, phone, Skype, and Facetime
            </div>
          </div>
          <a class="btn-signup button-clear" href="/rentals/new">
            <span>Get started</span>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="chart featured">
          <div class="popular">Most popular</div>
          <div class="quantity">
            <span class="dollar">$</span>
            <span class="price">250</span>
          </div>
          <div class="plan-name">Two Weeks</div>
          <div class="specs">
            <div class="spec">
              <span class="variable">1/2 lb</span>
              plastic filament (PLA)
            </div>
            <div class="spec">
              <span class="variable">Training</span>
              videos and resources
            </div>
            <div class="spec">
              <span class="variable">Support</span>
              by email, chat, phone, Skype, and Facetime
            </div>
          </div>
          <a class="btn-signup button-clear" href="/rentals/new">
            <span>Get started</span>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="chart last">
          <div class="quantity">
            <span class="dollar">$</span>
            <span class="price">400</span>
          </div>
          <div class="plan-name">One Month</div>
          <div class="specs">
            <div class="spec">
              <span class="variable">1/2 lb</span>
              plastic filament (PLA)
            </div>
            <div class="spec">
              <span class="variable">Training</span>
              videos and resources
            </div>
            <div class="spec">
              <span class="variable">Support</span>
              by email, chat, phone, Skype, and Facetime
            </div>
          </div>
          <a class="btn-signup button-clear" href="/rentals/new">
            <span>Get started</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="slider">
  <div class="container">
    <div class="row header">
      <div class="col-md-12">
        <h3>Now renting the Ultimaker II</h3>
      </div>
    </div>
  </div>
</div>


<div id="cta">
  <p>
    Ready to start printing?
  </p>
  <%= link_to "Get Started", new_rental_path %>
</div>