<div class="printrbot">
  <div id="hero" class='printrbot'>
    <div class="container">
      <h1 class="hero-text animated fadeInDown">
        Printrbot Simple Metal
      </h1>
      <p class="sub-text animated fadeInDown">
        We ship you a Printrbot. Print as much as you like.<br/>
        Send it back when you're done - or keep it.<br/><br/>
        Just $120/week, includes everything you need.
      </p>
      <div class="cta animated fadeInDown">
        <%= link_to "Get Started", new_rental_path, class: "button" %>
        <%= link_to "How It Works", how_it_works_path, class: "button-outline" %>
      </div>
      <div class="img"></div>
    </div>
  </div>
</div>

<div id="features">
  <div class="container">
    <div class="row header">
      <div class="col-md-12">
        <h2>No prior experience? No problem.</h2>
        <p>Rentabuild provides plastic filament, training videos, and personal support- everything you need to get started.</p>
      </div>
    </div>
    <div class="row feature">
      <div class="col-md-6 info">
        <h4>Best Entry-Level Printer on the Market</h4>
        <p>
          Easy to use and great build quality, the Printrbot Simple Metal is
          a rock-solid machine, and a perfect fit for any maker's tool kit.
          Print with PLA and ABS down to 100 micron resolution.
        </p>
      </div>
      <div class="col-md-6 image">
        <%= image_tag "printrbot_side.png", class: "img-responsive" %>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row feature backwards">
      <div class="col-md-6 info">
        <h4>Auto-Leveling Print Bed</h4>
        <p>
          The Printbot's auto-leveling probe simplifies setup and calibration.
          This means less hassle for beginners and pros alike.
        </p>
      </div>
      <div class="col-md-6 image">
        <%= image_tag "printrbot_probe.png", class: "img-responsive" %>
      </div>
    </div>
  </div>
</div>

<div id="pricing">
  <div class="container">
    <div class="row header">
      <div class="col-md-12">
        <h3>Like it? Keep it.</h3>
        <p>
          Renting is a risk-free way to decide if the Printrbot is the right model for you.<br/><br/>
          Just keep the Printrbot after your rental- we'll even subtract your rental fee.
        </p>
      </div>
    </div>
  </div>
</div>

<div id="cta">
  <p>
    Ready to start printing?
  </p>
  <%= link_to "Get Started", new_rental_path %>
</div>
