<!DOCTYPE html>
<html>
<head>
  <title><%= APP_SETTINGS["application_name"] %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "/angular.min.js" %>  
  <%# javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js" %>  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= render partial: 'layouts/analytics' %>
  <%= csrf_meta_tags %>

</head>
<body class='body-dashboard' ng-app="rentalApp">

  <%= render partial: 'layouts/dashboard/navbar' %>

  <div class='container'>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

    <div class='text-center'>
      Questions or comments? Reach out to us at <%= mail_to "zach@rentabuild.com" %>.
    </div>
  </div>

  <%= yield :javascript %>  
</body>
</html>
